In [1]:
import pandas as pd
loans = pd.read_csv("../_datasets/loan_clean.csv")
loans.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,delinq_amnt,percent_funded
0,5000,10.65,162.87,24000.0,27.65,0,0,100.0
1,2500,15.27,59.83,30000.0,1.00,0,0,100.0
2,2400,15.96,84.33,12252.0,8.72,0,0,100.0
3,10000,13.49,339.31,49200.0,20.00,0,0,100.0
4,3000,12.69,67.79,80000.0,17.94,0,0,100.0

In [2]:
y = loans["percent_funded"] > 95
X = loans.drop("percent_funded", axis=1)

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
  X, y,
  test_size=0.2,  # testing fraction
  shuffle=True,
  random_state=302
)