In [1]:
import pandas as pd

In [2]:
colors = ["violet", "blue", "green", "yellow", "orange", "red"]

In [3]:
wavelength = pd.Series( 
  [400, 470, 520, 580, 610, 710],    # values
  index=colors,
  name="wavelength"
  )

In [4]:
wavelength

violet    400
blue      470
green     520
yellow    580
orange    610
red       710
Name: wavelength, dtype: int64

In [5]:
wavelength["blue"]

470

In [6]:
wavelength[ ["violet", "red"] ]

violet    400
red       710
Name: wavelength, dtype: int64

In [7]:
wavelength.iloc[2]

520

In [8]:
wavelength.to_numpy()

array([400, 470, 520, 580, 610, 710])

In [9]:
team = pd.Series(
  ["Vikings", "Bills", "Eagles", "Chargers", "Bengals", "Cardinals"],
  index = colors,
  name="team"
  )

In [10]:
team["green"]

'Eagles'

In [11]:
{"wavelength": wavelength, "team name": team}

{'wavelength': violet    400
 blue      470
 green     520
 yellow    580
 orange    610
 red       710
 Name: wavelength, dtype: int64,
 'team name': violet      Vikings
 blue          Bills
 green        Eagles
 yellow     Chargers
 orange      Bengals
 red       Cardinals
 Name: team, dtype: object}

In [12]:
rainbow = pd.DataFrame( {"wavelength": wavelength, "team name": team} )

In [13]:
rainbow

        wavelength  team name
violet         400    Vikings
blue           470      Bills
green          520     Eagles
yellow         580   Chargers
orange         610    Bengals
red            710  Cardinals

In [14]:
rainbow["team name"]

violet      Vikings
blue          Bills
green        Eagles
yellow     Chargers
orange      Bengals
red       Cardinals
Name: team name, dtype: object

In [16]:
rainbow.loc["blue"]

wavelength      470
team name     Bills
Name: blue, dtype: object

In [17]:
rainbow["flower"] = [
    "Lobelia", 
    "Cornflower", 
    "Bells-of-Ireland", 
    "Daffodil",
    "Butterfly weed",
    "Rose"
    ]

In [18]:
rainbow

        wavelength  team name            flower
violet         400    Vikings           Lobelia
blue           470      Bills        Cornflower
green          520     Eagles  Bells-of-Ireland
yellow         580   Chargers          Daffodil
orange         610    Bengals    Butterfly weed
red            710  Cardinals              Rose