In [1]:
import pandas as pd

In [2]:
flavors = ["vanilla", "chocolate", "strawberry"]

In [3]:
pd.DataFrame( 
    { "Color": ["white", "brown", "pink"], "Rating": [4, 8, 7] }, 
    index=flavors
    )

            Color  Rating
vanilla     white       4
chocolate   brown       8
strawberry   pink       7

In [4]:
pd.DataFrame( 
    [ ("white", 4), ("brown", 8), ("pink", 7) ], 
    columns=["Color", "Rating"],
    index=flavors
    )

            Color  Rating
vanilla     white       4
chocolate   brown       8
strawberry   pink       7