In [1]:
import seaborn as sns
import pandas as pd

In [2]:
cars = sns.load_dataset("mpg")
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [3]:
cars.groupby("origin")

In [4]:
cars.groupby("origin").mean()

/var/folders/gc/0752xrm56pnf0r0dsrn5370c0000gr/T/ipykernel_87297/843340813.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cars.groupby("origin").mean()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
origin,,,,,,,
europe,27.891429,4.157143,109.142857,80.558824,2423.300000,16.787143,75.814286
japan,30.450633,4.101266,102.708861,79.835443,2221.227848,16.172152,77.443038
usa,20.083534,6.248996,245.901606,119.048980,3361.931727,15.033735,75.610442

In [5]:
cars.groupby("origin")["mpg"].mean()

origin
europe    27.891429
japan     30.450633
usa       20.083534
Name: mpg, dtype: float64

In [6]:
by_origin = cars.groupby("origin")
mpg_by_origin = by_origin["mpg"]
mpg_by_origin.mean()

origin
europe    27.891429
japan     30.450633
usa       20.083534
Name: mpg, dtype: float64

In [7]:
cuts = pd.cut(cars["weight"], range(1500, 5800, 1000))
by_weight = cars.groupby(cuts)
by_weight["mpg"].max()

weight
(1500, 2500]    46.6
(2500, 3500]    38.0
(3500, 4500]    26.6
(4500, 5500]    16.0
Name: mpg, dtype: float64

In [8]:
def iqr(x):
    q1, q3 = x.quantile( [.25, .75] )
    return q3 - q1

by_weight["mpg"].agg(iqr)

weight
(1500, 2500]    8.450
(2500, 3500]    6.325
(3500, 4500]    3.125
(4500, 5500]    1.000
Name: mpg, dtype: float64