In [1]:
import pandas as pd

In [2]:
names = ["Marge", "Homer", "Bart", "Lisa", "Maggie"]
months = pd.Series( ["March", "May", "February", "May", "January"], index=names)
years = pd.Series([1955, 1956, 1979, 1981, 1988], index=names)

In [3]:
simpsons = pd.DataFrame({"month": months, "date":  [19, 12, 23, 9, 14], "year": years})

simpsons

           month  date  year
Marge      March    19  1955
Homer        May    12  1956
Bart    February    23  1979
Lisa         May     9  1981
Maggie   January    14  1988