In [1]:
import seaborn as sns
import pandas as pd

In [2]:
cars = sns.load_dataset("mpg")
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [3]:
cuts = pd.cut(cars["horsepower"], range(40, 220, 20))
by_hp = cars.groupby(cuts)

In [4]:
by_hp["mpg"].count()

horsepower
(40, 60]       20
(60, 80]       99
(80, 100]     123
(100, 120]     48
(120, 140]     25
(140, 160]     40
(160, 180]     20
(180, 200]      7
Name: mpg, dtype: int64

In [5]:
def keeper(x):
    return len(x) > 29
hp_30 = by_hp.filter(keeper)
hp_30

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
hp_30["horsepower"].describe()

count    310.000000
mean      95.309677
std       25.298367
min       61.000000
25%       75.000000
50%       90.000000
75%      105.000000
max      160.000000
Name: horsepower, dtype: float64