In [1]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
def standardize(x):
    return (x - x.mean()) / x.std()

In [2]:
x = iris["petal_length"]
x

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

In [5]:
standardize(x)

0     -1.335752
1     -1.335752
2     -1.392399
3     -1.279104
4     -1.335752
         ...
145    0.816859
146    0.703564
147    0.816859
148    0.930154
149    0.760211
Name: petal_length, Length: 150, dtype: float64

In [6]:
iris["z"] = standardize( iris["petal_length"] )

In [7]:
iris[ ["petal_length", "z"] ].describe()

       petal_length             z
count    150.000000  1.500000e+02
mean       3.758000 -2.842171e-16
std        1.765298  1.000000e+00
min        1.000000 -1.562342e+00
25%        1.600000 -1.222456e+00
50%        4.350000  3.353541e-01
75%        5.100000  7.602115e-01
max        6.900000  1.779869e+00