In [1]:
import pandas as pd
import seaborn as sns

In [2]:
diamonds = sns.load_dataset("diamonds")
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
pd.Categorical(diamonds["clarity"])

['SI2', 'SI1', 'VS1', 'VS2', 'SI2', ..., 'SI1', 'SI1', 'SI1', 'SI2', 'SI2']
Length: 53940
Categories (8, object): ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1']

In [4]:
diamonds["clarity"].unique()

['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF']
Categories (8, object): ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1']

In [5]:
clarities = ["I1", "SI2", "SI1", "VS2", "VS1", "VVS2", "VVS1", "IF"]

In [6]:
cl_num = pd.Categorical(diamonds["clarity"], categories=clarities, ordered=True)
cl_num

['SI2', 'SI1', 'VS1', 'VS2', 'SI2', ..., 'SI1', 'SI1', 'SI1', 'SI2', 'SI2']
Length: 53940
Categories (8, object): ['I1' < 'SI2' < 'SI1' < 'VS2' < 'VS1' < 'VVS2' < 'VVS1' < 'IF']

In [7]:
cl_num.codes

array([1, 2, 4, ..., 2, 1, 1], dtype=int8)

In [8]:
diamonds["clarity"] = cl_num.codes
diamonds.head()

   carat      cut color  clarity  depth  table  price     x     y     z
0   0.23    Ideal     E        1   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E        2   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I        3   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J        1   63.3   58.0    335  4.34  4.35  2.75

In [9]:
cuts = ["Fair", "Good", "Very Good", "Premium", "Ideal"]
diamonds["cut"] = diamonds["cut"].replace(
    cuts,              # to be replaced
    range(1, 6),       # replacements
)

In [10]:
diamonds.head()

   carat cut color  clarity  depth  table  price     x     y     z
0   0.23   5     E        1   61.5   55.0    326  3.95  3.98  2.43
1   0.21   4     E        2   59.8   61.0    326  3.89  3.84  2.31
2   0.23   2     E        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29   4     I        3   62.4   58.0    334  4.20  4.23  2.63
4   0.31   2     J        1   63.3   58.0    335  4.34  4.35  2.75