In [1]:
import pandas as pd

In [2]:
birds = pd.DataFrame(
    {
        "Name": ["Eagles", "Crows", "Falcons"],
        "Predatory": [True, False, True],
        "Family": ["Accipitridae", "Corvidae", "Falconidae"],
        "Color": ["Brown", "Black", "Blue–Gray"]
    }
)
birds

      Name  Predatory        Family      Color
0   Eagles       True  Accipitridae      Brown
1    Crows      False      Corvidae      Black
2  Falcons       True    Falconidae  Blue–Gray

In [3]:
teams = pd.DataFrame(
    {
        "Name": ["Falcons", "Eagles", "Bears"],
        "Home": ["Atlanta", "Philadelphia", "Chicago"],
        "Color": ["Red", "Green", "Blue"]
    }
)
teams

      Name          Home  Color
0  Falcons       Atlanta    Red
1   Eagles  Philadelphia  Green
2    Bears       Chicago   Blue

In [4]:
pd.concat([birds, teams])

      Name Predatory        Family      Color          Home
0   Eagles      True  Accipitridae      Brown           NaN
1    Crows     False      Corvidae      Black           NaN
2  Falcons      True    Falconidae  Blue–Gray           NaN
0  Falcons       NaN           NaN        Red       Atlanta
1   Eagles       NaN           NaN      Green  Philadelphia
2    Bears       NaN           NaN       Blue       Chicago

In [5]:
pd.concat([birds, teams], axis="columns")

      Name  Predatory        Family      Color     Name          Home  Color
0   Eagles       True  Accipitridae      Brown  Falcons       Atlanta    Red
1    Crows      False      Corvidae      Black   Eagles  Philadelphia  Green
2  Falcons       True    Falconidae  Blue–Gray    Bears       Chicago   Blue